:root {
  --orange: #fa6607;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

#wrapper {
  min-height:100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--orange);
  color: white;
}

header {
  padding-left: 5px;
  position: relative;
  margin-bottom: 1rem;
  font-size: 2rem;
  
}

header::after {
  content: " ";
  background-color: white;
  position: absolute;
  width: 100vw;
  height: .8rem;
  left: 0;
  top: 4.2rem;
}

#main {
  flex: 1;
  
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  gap: 2rem;
  padding: 2rem;
  position: relative;
}

.card {
  /* background-color: white; */
  border: 2px solid white;
  color: white;
  padding: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: relative;
}

.card .title {
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: underline;
}

.add-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.6em;
  font-weight: bold;
  transition: all 0.1s ease-in;
}

.add-button:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2)
}

dialog{
  width: 400px;
  min-height: 300px;
  margin: auto;
}

dialog::backdrop {
  background-color:rgba(0, 0, 0, 0.4);
}

dialog fieldset {
  padding: 10px 30px 0;
  margin-bottom: 1em;
  /* display: flex;
  flex-direction: column; */
  align-items: start;
}

dialog ul {
  list-style: none;
}

dialog label, input {
  display: block;
  font-family: inherit;
  /* font-size: 100%;
  width: 100%;
  padding:5px;
  height: 30px; */
}

footer {
  background-color: white;
  color: var(--orange);
  text-align: center;
  padding: 5px;
}